<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="seahawk_description">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="0.00918544453360045 -0.0123706671529186 0.000820477048083026"
        rpy="0 0 0" />
      <mass
        value="5.4230392489778" />
      <inertia
        ixx="0.0276522672020722"
        ixy="-2.41774692217831E-06"
        ixz="-9.31839038295897E-07"
        iyy="0.0811581705162698"
        iyz="3.17629384633211E-07"
        izz="0.0751757692550561" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://seahawk_description/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://seahawk_description/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
</robot>