<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="seahawk_description">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="0 0 0"
        rpy="1.5707 0 3.14159" />
      <mass
        value="20.0" />
      <!-- inertia matrix for a solid cuboid using model's mass and collision geometry -->
      <!-- https://en.wikipedia.org/wiki/List_of_moments_of_inertia#List_of_3D_inertia_tensors -->
      <!-- https://docs.ros.org/en/foxy/Tutorials/Intermediate/URDF/Adding-Physical-and-Collision-Properties-to-a-URDF-Model.html -->
      <inertia
        ixx="0.42733"
        ixy="0"
        ixz="0"
        iyy="0.833333"
        iyz="0"
        izz="0.42733" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="1.5707 0 3.14159" />
      <geometry>
        <mesh
          filename="package://seahawk_description/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <!-- TODO: update this geometry to be more accurate later -->
        <!-- temporary collision geometry to make the rover neutrally buoyant -->
        <box size="0.5 0.5 0.08" />
      </geometry>
    </collision>
  </link>

  <gazebo>
    <!-- See link below for hydrodynamics parameter descriptions -->
    <!-- https://github.com/gazebosim/gz-sim/blob/ign-gazebo6/src/systems/hydrodynamics/Hydrodynamics.hh -->
    <plugin
      filename="ignition-gazebo-hydrodynamics-system"
      name="ignition::gazebo::systems::Hydrodynamics">
      <link_name>base_link</link_name>
      <xDotU>7.0</xDotU>
      <yDotV>7.0</yDotV>
      <zDotW>7.0</zDotW>
      <kDotP>0</kDotP>
      <mDotQ>0</mDotQ>
      <nDotR>0</nDotR>
      <xUabsU>20</xUabsU>
      <xU>0</xU>
      <yVabsV>20</yVabsV>
      <yV>0</yV>
      <zWabsW>20</zWabsW>
      <zW>0</zW>
      <kPabsP>20</kPabsP>
      <kP>0</kP>
      <mQabsQ>20</mQabsQ>
      <mQ>0</mQ>
      <nRabsR>20</nRabsR>
      <nR>0</nR>
    </plugin>

    <!-- By default listens for Gazebo twist msgs on /model/<model_name>/cmd_vel-->
    <plugin
      filename="ignition-gazebo-velocity-control-system"
      name="ignition::gazebo::systems::VelocityControl">
    </plugin>
  </gazebo>
</robot>