Adafruit-Blinka==8.16.1
adafruit-circuitpython-bme280==2.6.19
adafruit-circuitpython-bno08x==1.1.10
adafruit-circuitpython-busdevice==5.2.3
adafruit-circuitpython-motor==3.4.9
adafruit-circuitpython-motorkit==1.6.11
adafruit-circuitpython-pca9685==3.4.8
adafruit-circuitpython-register==1.9.15
adafruit-circuitpython-requests==1.13.0
adafruit-circuitpython-servokit==1.3.13
adafruit-circuitpython-typing==1.9.0
Adafruit-PlatformDetect==3.42.0
Adafruit-PureIO==1.1.10
adafruit-python-shell==1.6.0
args==0.1.0
clint==0.5.1
pyftdi==0.54.0
pyserial==3.5
pyusb==1.2.1
RPi.GPIO==0.7.1
typing_extensions==4.5.0
