<?xml version="1.0"?>
<model>
  <name>seahawk_2</name>
  <version>1.0</version>
  <sdf version="1.9">model.sdf</sdf>

  <author>
    <name>Cabillo Robotics Club</name>
    <email>cabrillorobotics@gmail.com</email>
  </author>

  <description>
    Base 3D model of SeaHawk II including thruster joints
  </description>
</model>