<?xml version="1.0"?>
<model>
  <name>seahawk_2_enhanced</name>
  <version>1.0</version>
  <sdf version="1.9">model.sdf</sdf>

  <author>
    <name>Cabillo Robotics Club</name>
    <email>cabrillorobotics@gmail.com</email>
  </author>

  <description>
    3D model of SeaHawk II with sensors and physics plugins
  </description>
</model>